.logosCineAr img {
  height: 40px;
  margin: 40px;
}

.logosCineAr ul {
  display: flex;
  justify-content: center;
}

.DDA p {
  color: white;
  font-size: 12px;
}

.endLogos ul {
  display: flex;
  justify-content: flex-end;
}

.parte2 {
  display: flex;
  justify-content: space-between;
}

.endLogos img {
  margin: 1rem;
}
