.logosCineAr img {
  height: 40px;
  margin: 40px;
  border-right: #404040 1px solid;
}

#root > footer > div > ul > li:nth-child(3) > a > img {
  border-width: 0;
}
.logosCineAr ul {
  display: flex;
  justify-content: center;
}

.DDA p {
  color: white;
  font-size: 12px;
}
